/* Займаємо весь екран */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Контейнер Unity */
#unity-container {
    width: 100%;
    height: 100%;
    display: flex;           /* Включаємо flex-режим */
    align-items: center;     /* Центруємо по вертикалі */
    justify-content: center; /* Центруємо по горизонталі */
    background: black;       /* За бажанням – фон сторінки */
}

/* Canvas з грою (розтягуємо на весь екран) */
#unity-canvas {
    width: 100%;
    height: 100%;
    background: black;
}

/* Ховаємо дефолтне поле вибору файлу */
#fileInput {
    display: none;
}